<%- include ('../partials/header') %> 
<!-- <script>
 function checkNewScore(currscore, highscore){
    if(currscore > highscore){
        document.getElementById("newHS").innerHTML = "New Highscore!";
    }
  }

</script> -->
<%- include ('../partials/navbar') %> 
<style>
  body{
    background-image: none;
    background-color: rgb(179, 39, 29);
  }
  #navbarToggleExternalContent{
        background-color:rgb(179, 39, 29);
        color: white;
    }
    .navbar{
        background-color: rgb(179, 39, 29);
        color: white;
    }
    .btn .navbar{
      color:black;
    }
</style>
<main >

  <div class="container text-center" >
    <!-- Home page HTML HERE -->
   
    <%if(currscore >= highscore){ %>
        <h1 id="newHS">New Highscore!</h1>
        <h3>Score: <%= currscore%> </h3>
    <%  }else{ %>
        <h1 id="newHS">Game over!</h1>
        <h3>Score: <%= currscore%> </h3>
        <h3>Highscore: <%=highscore%></h3>
        <% } %>
   
        <h3> Correct Answer was '<%=correctanswer%>'</h3>
        <form action="/play" method="GET">
          <input style ="width: 200px;"class="btn btn-dark" type="submit" value="Enter the Tank"/>
        </form>
   
    
  </div>
  

</main>

<%- include ('../partials/footer') %>