<%- include('../partials/header') %>
<%- include ('../partials/navbar') %> 
<main>
  <style>

     .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        width: 300px;
        height: 600px;
       
        
        }
        .navbar{
      background-color: transparent;
      color: black;
    }
    #navbarToggleExternalContent{
        background-color:transparent;
        color: rgb(3, 2, 2);
    }
    body{
          
          background:  url('img/profileBack.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      
  
         
        }
    main{
     

      text-align: center;
      max-width: 1200px;
      margin: 0 auto;
    }
  
    .card {
      margin-bottom: 10px;
      width: 300px;
      height:  300px;
      background-color: rgba(255, 255, 255, 0.25);
      border-radius: 25px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
  
    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
  
    .btn {
      border-radius: 5px;
      color: white;
      padding: 10px 20px;
      border: none;
      transition: background-color 0.3s ease;
    }
  
  

  </style>

  <div class="profile">
    <div class="profile-header">
      <div >
      <h1>Rewards Store</h1>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Use your currency to buy amazing rewards! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

    
      <p>You have <strong><%= user.currency %></strong> credits available.</p>   

      <!-- <p>You have <strong><%=user.lives%></strong> lives.</p>
      <p>You have <strong><%=user.points_2x%> </strong>double points available.</p> -->
</div>
     
      <!--=============================================================================-->
      <div id="eventcards">
         <div class="row">

            <div class="col-sm" id="event-card-">
              <div class="card" style = "background-color: rgba(250,250,250, 0.25);">
                <div class="card-body rounded ">
                
                  <form id="rewardForm" action="/buyReward" method="POST">
                    <!-- Hidden input fields -->
                   <input hidden type="text" name="username" value="<%= user.username %>"/>
                   <input hidden type="text" name="reward" value="extralife"/> <!-- Replace with actual reward type -->
                   <input hidden type="text" name="cost" value="3"/> <!-- Replace with actual reward cost -->
           
                    <!-- Button to trigger form submission -->
                    <svg xmlns="http://www.w3.org/2000/svg"  height="100" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                    <br>
                   <p>3 Credits</p> 
                   
                   <button id="buyRewardButton" class="btn btn-dark" type="submit">Extra Lives</button>
                   <br><br>
                   <p>Lives: <strong><%=user.lives%></strong></p>
                   <br>
                  </form>
                  
                
                 
                </div>
              </div>
            </div>
     
      
      <!--=============================================================================-->
   


      <!--=============================================================================-->

           <div class="col-sm" id="event-card-">
            <div class="card" style = "background-color: rgba(250,250,250, 0.25);">
              <div class="card-body rounded ">
              
                <form id="rewardForm" action="/buyReward" method="POST">
                  <!-- Hidden input fields -->
                  <input hidden type="text" name="username" value="<%= user.username %>"/>
                  <input hidden type="text" name="reward" value="points_2x"/> <!-- Replace with actual reward type -->
                  <input hidden type="text" name="cost" value="5"/> <!-- Replace with actual reward cost -->
                  <img src="img/dubPoints.png" height = "120">
                  <br>
                  <p>5 Credits</p> 
                 
                  <!-- Button to trigger form submission -->
                  <button id="buyRewardButton" class="btn btn-dark" type="submit">Double Points</button>
                  <p></p>
                  <p>2x Points: <strong><%=user.points_2x%></strong></p>
                  
                
                </form>
                
               
              </div>
            </div>
          </div>



         </div>
      </div>
     
      
          
      <!--=============================================================================-->
        
    </div>
  
    

  <%- include ('../partials/message') %>
  <%- include('../partials/footer') %>
</main>




