<%- include ('../partials/header') %> 

<main>

  <div class="container">
    <!-- Trivia page HTML HERE -->
    <form action="/home" method="GET">
      <input style = "float: left;"class="btn btn-primary" type="submit" value="Home"/>
    </form>
    <h3 style="float: right;">Score = <%=currScore%> </h3>
    <br>
    <br>
    <h3 style = "float: right;">Highscore = <%=highscore%></h3>
    <br><br><br>
    <h1 style="text-align: center;"><%=trivia[0].question.text%></h1>
    <br>
    <br>
    <div class="text-center">
    <!-- <form action="/play" method="GET"> -->
      <button class="btn btn-danger" type="button" onclick="checkAnswer('<%=trivia[0].incorrectAnswers[0]%>', '<%=trivia[0].correctAnswer%>')"><%=trivia[0].incorrectAnswers[0]%></button>
      <button class="btn btn-danger" type="button" onclick="checkAnswer('<%=trivia[0].incorrectAnswers[1]%>', '<%=trivia[0].correctAnswer%>')"><%=trivia[0].incorrectAnswers[1]%></button>
      <button class="btn btn-success" type="button" onclick="checkAnswer('<%=trivia[0].correctAnswer%>', '<%=trivia[0].correctAnswer%>')"><%=trivia[0].correctAnswer%></button>
      <button class="btn btn-danger" type="button" onclick="checkAnswer('<%=trivia[0].incorrectAnswers[2]%>', '<%=trivia[0].correctAnswer%>')"><%=trivia[0].incorrectAnswers[2]%></button>

    <!-- </form> -->
    <br>
    <br>
    <p id="correctorno"></p>
  </div>


  </div>
  <script>
    function checkAnswer(answer, correctAnswer){
      console.log(answer);
      console.log(correctAnswer);
      if(answer.localeCompare(correctAnswer) == 0){
        document.getElementById("correctorno").innerHTML = "Correct!";

      }else{

        document.getElementById("correctorno").innerHTML = "Incorrect";
      }

    }
  </script>

</main>

<%- include ('../partials/footer') %>