<%- include ('../partials/header') %> 

<main>

  <div class="container">
    <!-- Trivia page HTML HERE -->
    <form action="/home" method="GET">
      <input style = "float: left;"class="btn btn-primary" type="submit" value="Home"/>
    </form>
    <h3 style="float: right;">Score = <%=currscore%> </h3>
    <br>
    <br>
    <h3 style = "float: right;">Highscore = <%=highscore%></h3>
    <br><br><br>
    <h1 style="text-align: center;"><%=trivia[0].question.text%></h1>
    <br>
    <br>
    <div class="text-center">

      <form action="/verifyAnswer" method="POST">
        <input hidden type="text" name="answer" value="<%=trivia[0].incorrectAnswers[0]%>"/>
        <input hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
        <button style=" display:inline-block;" class="btn btn-primary" type="submit" ><%=trivia[0].incorrectAnswers[0]%></button>
      </form>
    <br>  
      <form action="/verifyAnswer" method="POST">
        <input hidden type="text" name="answer" value="<%=trivia[0].incorrectAnswers[1]%>"/>
        <input hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
        <button style=" display:inline-block;" class="btn btn-primary" type="submit" ><%=trivia[0].incorrectAnswers[1]%></button>
      </form>
<br>
      <form action="/verifyAnswer" method="POST">
        <input hidden type="text" name="answer" value= "<%=trivia[0].correctAnswer%>"/>
        <input hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
        <button style=" display:inline-block;" class="btn btn-primary" type="submit" ><%=trivia[0].correctAnswer%></button>
      </form>
<br>
      <form action="/verifyAnswer" method="POST">
        <input hidden type="text" name="answer" value="<%=trivia[0].incorrectAnswers[2]%>"/>
        <input hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
        <button style=" display:inline-block;" class="btn btn-primary" type="submit" ><%=trivia[0].incorrectAnswers[2]%></button>
      </form>
      <!-- <button onclick="test('%=trivia[0].incorrectAnswers[0]%>', '%=trivia[0].correctAnswer%>')">%=trivia[0].incorrectAnswers[0]%></button> -->

    <!-- <form action="/verifyAnswer" method="POST">
      <input name = "B1" class="btn btn-danger" type="submit" value = "%=trivia[0].incorrectAnswers[0]%>" onclick="test('%=trivia[0].incorrectAnswers[0]%>')">
      <input name = "B2" class="btn btn-danger" type="submit" value = "%=trivia[0].incorrectAnswers[1]%>">
      <input name = "B3" class="btn btn-success" type="submit" value = "%=trivia[0].correctAnswer%>">
      <input name = "B4" class="btn btn-danger" type="submit" value = "%=trivia[0].incorrectAnswers[2]%>">
    </form> -->


    <!-- <button class="btn btn-danger" type="button" onclick="test('<%=trivia[0].incorrectAnswers[0]%>', '<%=trivia[0].correctAnswer%>')"><%=trivia[0].incorrectAnswers[0]%></button>
    <button class="btn btn-danger" type="button" onclick="test('<%=trivia[0].incorrectAnswers[1]%>', '<%=trivia[0].correctAnswer%>')"><%=trivia[0].incorrectAnswers[1]%></button>
    <button class="btn btn-success" type="button" onclick="test('<%=trivia[0].correctAnswer%>', '<%=trivia[0].correctAnswer%>')"><%=trivia[0].correctAnswer%></button>
    <button class="btn btn-danger" type="button" onclick="test('<%=trivia[0].incorrectAnswers[2]%>', '<%=trivia[0].correctAnswer%>')"><%=trivia[0].incorrectAnswers[2]%></button> -->


  <br>
  <br>
  <p id="correctorno"></p>
</div>


</div>

   
      <!-- put all in one form, one universal API that queries the right answer, get user input (req.body.buttonclick) these are submit buttons
Once we have user input, make query to find right answer for question, compare and perform the correspoinding action for correct/incorrect answer -->





</main>

<%- include ('../partials/footer') %>