<%- include ('../partials/header') %>
 <style>

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #030423);
}


.wrapper div.d {
  height: 80px;
  width: 80px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;
}
div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}
.wrapper div.d:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div.d:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.wrapper div.d:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.wrapper div.d:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper div.d:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.wrapper div.d:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.wrapper div.d:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div.d:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.wrapper div.d:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.wrapper div.d:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.wrapper div.d:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper div.d:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.wrapper div.d:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div.d:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper div.d:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}


 </style>
<script>
    function getRandomInt(max) {
    return Math.floor(Math.random() * max);
  }


  const answers = ["<%=trivia[index].incorrectAnswers[0]%>", "<%=trivia[index].incorrectAnswers[1]%>", "<%=trivia[index].incorrectAnswers[2]%>", "<%=trivia[index].correctAnswer%>"]
  const nums = [0,1,2,3] 
  const rando = []  
  function jumbleButtons(){
  
    var completed = 0; 
      while(completed < 4){ 
         var num = getRandomInt(4) 
          if(nums[num] != 100){ 
            rando.push(nums[num]) 
            nums[num] = 100  
            completed++ 
          } 
      } 
    console.log(rando) 
    console.log(answers);
    assignButtons();
  }

  function assignButtons(){
    document.getElementById("A1").innerHTML = answers[rando[0]]
    document.getElementById("h1").value = answers[rando[0]]

    document.getElementById("A2").innerHTML = answers[rando[1]]
    document.getElementById("h2").value = answers[rando[1]]

    document.getElementById("A3").innerHTML = answers[rando[2]]
    document.getElementById("h3").value = answers[rando[2]]

    document.getElementById("A4").innerHTML = answers[rando[3]]
    document.getElementById("h4").value = answers[rando[3]]

    document.getElementById("correctAnswer1").value = answers[3]
    document.getElementById("correctAnswer2").value = answers[3]
    document.getElementById("correctAnswer3").value = answers[3]
    document.getElementById("correctAnswer4").value = answers[3]
   
  
 
  }
</script>
<main>


<body onload="jumbleButtons()"></body>

<div class="wrapper">



  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>
  <div class="d"><span class="dot"></span></div>

    <!-- =========================================================================== -->
  
    <!-- <h1>Bubbles Animation</h1> -->
    
    <br>
    <div style="float:left ;">
      &nbsp;&nbsp;&nbsp;
      <% for (let i = 0; i < lives; i++) { %>
     <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-heart-fill " viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
      </svg>
      
    <% } %>
    </div>
  
    <div style="border:1px navy">
    <h3 style="text-align: right;"id="demo">Time Left: 15 &nbsp;&nbsp;&nbsp;&nbsp;</h3>

    <h3 style="text-align: right;">Score = <%=currscore%> &nbsp;&nbsp;&nbsp;&nbsp;</h3>

    <h3 style = "text-align: right;">Highscore = <%=highscore%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3> 
<br>
  </div>



  
  
    <p></p>
    <h1 style="text-align: center;  "><%=trivia[index].question.text%></h1>
    <br>
    <br>
    <div class="container">
      <!-- Trivia page HTML HERE -->
      
      <div class="text-center">
        
       <div class="btn-group mr-2" role="group" aria-label="First group">
       <form action="/verifyAnswer" method="POST">
         <input id="h1"  hidden type="text" name="answer" value="<%=trivia[index].incorrectAnswers[0]%>"/>
         <input id = "correctAnswer1" hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
         <button  id="A1"  class="btn btn-dark" type="submit" ></button>
       </form>
       </div>
      
       <div class="btn-group mr-2" role="group" aria-label="First group">
       <form action="/verifyAnswer" method="POST">
         <input id="h2"  hidden type="text" name="answer" value="<%=trivia[index].incorrectAnswers[1]%>"/>
         <input id = "correctAnswer2" hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
         <button  id="A2"   class="btn btn-dark" type="submit" ></button>
       </form>
      </div>

      <div class="btn-group mr-2" role="group" aria-label="First group">
     <form action="/verifyAnswer" method="POST">
       <input id="h3"  hidden type="text" name="answer" value="<%=trivia[index].incorrectAnswers[1]%>"/>
       <input id = "correctAnswer3" hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
       <button  id="A3"   class="btn btn-dark" type="submit" ></button>
     </form>
     </div>

     <div class="btn-group mr-2" role="group" aria-label="First group">
       <form action="/verifyAnswer" method="POST">
         <input  id="h4" hidden type="text" name="answer" value="<%=trivia[index].incorrectAnswers[2]%>"/>
         <input id = "correctAnswer4" hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
         <button  id="A4" class="btn btn-dark" type="submit" ></button>
       </form>
    </div>
   
    <br>
   
   <br>
  

   <br>
   <p id="correctorno"></p>
   
   
   </div>
  </div>
  <div class="col"><%- include ('../partials/message') %></div>
 <!-- =========================================================================== -->


</div>
  

  





  
 
  
  <script>
  // Set the date we're counting down to
  let count = 15;
  const timer = setInterval(function (){
  count--;
  document.getElementById("demo").innerHTML = "Time Left: " + count + '\xa0\xa0\xa0\xa0\xa0';
  if(count===0){
  clearInterval(timer);
  //time up message
  document.getElementById("demo").innerHTML = "Time's up ";
// <a href="/gameOver.ejs"> </a>
// <meta http-equiv="refresh" content="3;url="/gameOver.ejs" />
window.location = "/gameOver";
  }
  },1000);
  </script>
   <script>
    function checkAnswer(answer, correctAnswer){
      console.log(answer);
      console.log(correctAnswer);
      if(answer.localeCompare(correctAnswer) == 0){
        document.getElementById("correctorno").innerHTML = "Correct!";

      }else{

        document.getElementById("correctorno").innerHTML = "Incorrect";
      }

    }
  </script>



  </div>
 

</main>

<%- include ('../partials/footer') %>