<%- include ('../partials/header') %> 
<script>
    function getRandomInt(max) {
    return Math.floor(Math.random() * max);
  }


  const answers = ["<%=trivia[0].incorrectAnswers[0]%>", "<%=trivia[0].incorrectAnswers[1]%>", "<%=trivia[0].incorrectAnswers[2]%>", "<%=trivia[0].correctAnswer%>"]
  const nums = [0,1,2,3] 
  const rando = []  
  function jumbleButtons(){
  
    var completed = 0; 
      while(completed < 4){ 
         var num = getRandomInt(4) 
          if(nums[num] != 100){ 
            rando.push(nums[num]) 
            nums[num] = 100  
            completed++ 
          } 
      } 
    console.log(rando) 
    console.log(answers);
    assignButtons();
  }

  function assignButtons(){
    document.getElementById("A1").innerHTML = answers[rando[0]]
    document.getElementById("h1").value = answers[rando[0]]

    document.getElementById("A2").innerHTML = answers[rando[1]]
    document.getElementById("h2").value = answers[rando[1]]

    document.getElementById("A3").innerHTML = answers[rando[2]]
    document.getElementById("h3").value = answers[rando[2]]

    document.getElementById("A4").innerHTML = answers[rando[3]]
    document.getElementById("h4").value = answers[rando[3]]

    document.getElementById("correctAnswer1").value = answers[3]
    document.getElementById("correctAnswer2").value = answers[3]
    document.getElementById("correctAnswer3").value = answers[3]
    document.getElementById("correctAnswer4").value = answers[3]
   
  
 
  }
</script>
<main>
<body onload="jumbleButtons()"></body>
  <div class="container" >


    <!-- Trivia page HTML HERE -->
    <form action="/home" method="GET">
      <input style = "float: left;"class="btn btn-primary" type="submit" value="Home"/>
    </form>
    <h3 style="float: right;">Score = <%=currscore%> </h3>
    <br>
    <br>
    <h3 style = "float: right;">Highscore = <%=highscore%></h3>
    <br><br><br>
    <h1 style="text-align: center;"><%=trivia[0].question.text%></h1>
    <br>
    <br>
    <div class="text-center">

      <form action="/verifyAnswer" method="POST">
        <input id="h1"  hidden type="text" name="answer" value="<%=trivia[0].incorrectAnswers[0]%>"/>
        <input id = "correctAnswer1" hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
        <button  id="A1" style=" display:inline-block;" class="btn btn-primary" type="submit" ></button>
      </form>
    <br>  
      <form action="/verifyAnswer" method="POST">
        <input id="h2"  hidden type="text" name="answer" value="<%=trivia[0].incorrectAnswers[1]%>"/>
        <input id = "correctAnswer2" hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
        <button  id="A2" style=" display:inline-block;" class="btn btn-primary" type="submit" ></button>
      </form>
    <br>
    <form action="/verifyAnswer" method="POST">
      <input id="h3"  hidden type="text" name="answer" value="<%=trivia[0].incorrectAnswers[1]%>"/>
      <input id = "correctAnswer3" hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
      <button  id="A3" style=" display:inline-block;" class="btn btn-primary" type="submit" ></button>
    </form>
    <br>
      <form action="/verifyAnswer" method="POST">
        <input  id="h4" hidden type="text" name="answer" value="<%=trivia[0].incorrectAnswers[2]%>"/>
        <input id = "correctAnswer4" hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
        <button  id="A4" style=" display:inline-block;" class="btn btn-primary" type="submit" ></button>
      </form>
      <!-- <button onclick="test('%=trivia[0].incorrectAnswers[0]%>', '%=trivia[0].correctAnswer%>')">%=trivia[0].incorrectAnswers[0]%></button> -->

    <!-- <form action="/verifyAnswer" method="POST">
      <input name = "B1" class="btn btn-danger" type="submit" value = "%=trivia[0].incorrectAnswers[0]%>" onclick="test('%=trivia[0].incorrectAnswers[0]%>')">
      <input name = "B2" class="btn btn-danger" type="submit" value = "%=trivia[0].incorrectAnswers[1]%>">
      <input name = "B3" class="btn btn-success" type="submit" value = "%=trivia[0].correctAnswer%>">
      <input name = "B4" class="btn btn-danger" type="submit" value = "%=trivia[0].incorrectAnswers[2]%>">
    </form> -->


    <!-- <button class="btn btn-danger" type="button" onclick="test('<%=trivia[0].incorrectAnswers[0]%>', '<%=trivia[0].correctAnswer%>')"><%=trivia[0].incorrectAnswers[0]%></button>
    <button class="btn btn-danger" type="button" onclick="test('<%=trivia[0].incorrectAnswers[1]%>', '<%=trivia[0].correctAnswer%>')"><%=trivia[0].incorrectAnswers[1]%></button>
    <button class="btn btn-success" type="button" onclick="test('<%=trivia[0].correctAnswer%>', '<%=trivia[0].correctAnswer%>')"><%=trivia[0].correctAnswer%></button>
    <button class="btn btn-danger" type="button" onclick="test('<%=trivia[0].incorrectAnswers[2]%>', '<%=trivia[0].correctAnswer%>')"><%=trivia[0].incorrectAnswers[2]%></button> -->


  <br>
  <br>
  <p id="correctorno"></p>
</div>

<div class="col"><%- include ('../partials/message') %></div>
</div>

   
      <!-- put all in one form, one universal API that queries the right answer, get user input (req.body.buttonclick) these are submit buttons
Once we have user input, make query to find right answer for question, compare and perform the correspoinding action for correct/incorrect answer -->





</main>

<%- include ('../partials/footer') %>