<%- include ('../partials/header') %> 
<script>
    function getRandomInt(max) {
    return Math.floor(Math.random() * max);
  }


  const answers = ["<%=trivia[0].incorrectAnswers[0]%>", "<%=trivia[0].incorrectAnswers[1]%>", "<%=trivia[0].incorrectAnswers[2]%>", "<%=trivia[0].correctAnswer%>"]
  const nums = [0,1,2,3] 
  const rando = []  
  function jumbleButtons(){
  
    var completed = 0; 
      while(completed < 4){ 
         var num = getRandomInt(4) 
          if(nums[num] != 100){ 
            rando.push(nums[num]) 
            nums[num] = 100  
            completed++ 
          } 
      } 
    console.log(rando) 
    console.log(answers);
    assignButtons();
  }

  function assignButtons(){
    document.getElementById("A1").innerHTML = answers[rando[0]]
    document.getElementById("h1").value = answers[rando[0]]

    document.getElementById("A2").innerHTML = answers[rando[1]]
    document.getElementById("h2").value = answers[rando[1]]

    document.getElementById("A3").innerHTML = answers[rando[2]]
    document.getElementById("h3").value = answers[rando[2]]

    document.getElementById("A4").innerHTML = answers[rando[3]]
    document.getElementById("h4").value = answers[rando[3]]

    document.getElementById("correctAnswer1").value = answers[3]
    document.getElementById("correctAnswer2").value = answers[3]
    document.getElementById("correctAnswer3").value = answers[3]
    document.getElementById("correctAnswer4").value = answers[3]
   
  
 
  }
</script>
<main>


<body onload="jumbleButtons()"></body>
  <div class="container">


    <!-- Trivia page HTML HERE -->
    <br>
    <% for (let i = 0; i < lives; i++) { %>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
      </svg>
    <% } %>
    <h3 style="float: right;">Score = <%=currscore%> </h3>
    <br>
    <br>
    <h3 style = "float: right;">Highscore = <%=highscore%></h3>
    <br><br><br>
    <h1 style="text-align: center;  background-color: rgba(200,200,200,0.75);"><%=trivia[0].question.text%></h1>
    <br>
    <br>
    <div class="text-center">
     
      <div class="btn-group mr-2" role="group" aria-label="First group">
      <form action="/verifyAnswer" method="POST">
        <input id="h1"  hidden type="text" name="answer" value="<%=trivia[0].incorrectAnswers[0]%>"/>
        <input id = "correctAnswer1" hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
        <button  id="A1"  class="btn btn-dark" type="submit" ></button>
      </form>
      </div>
     
      <div class="btn-group mr-2" role="group" aria-label="First group">

      <form action="/verifyAnswer" method="POST">
        <input id="h2"  hidden type="text" name="answer" value="<%=trivia[0].incorrectAnswers[1]%>"/>
        <input id = "correctAnswer2" hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
        <button  id="A2"   class="btn btn-dark" type="submit" ></button>
      </form>
     </div>
     <div class="btn-group mr-2" role="group" aria-label="First group">


    <form action="/verifyAnswer" method="POST">
      <input id="h3"  hidden type="text" name="answer" value="<%=trivia[0].incorrectAnswers[1]%>"/>
      <input id = "correctAnswer3" hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
      <button  id="A3"   class="btn btn-dark" type="submit" ></button>
    </form>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="First group">


      <form action="/verifyAnswer" method="POST">
        <input  id="h4" hidden type="text" name="answer" value="<%=trivia[0].incorrectAnswers[2]%>"/>
        <input id = "correctAnswer4" hidden type="text" name="correctAnswer" value= "<%=trivia[0].correctAnswer%>"/>
        <button  id="A4" class="btn btn-dark" type="submit" ></button>
      </form>

      
</div>

      <br>

  <br>
  <br>
  <p style="font-size: 100px;"id="demo"></p>
  <br>
  <p id="correctorno"></p>

</div>
  </div>
  </head>
  
 
  
  <script>
  // Set the date we're counting down to
  let count = 15;
  const timer = setInterval(function (){
  count--;
  document.getElementById("demo").innerHTML = count + "s ";
  if(count===0){
  clearInterval(timer);
  //time up message
  document.getElementById("demo").innerHTML = "Time's up ";
// <a href="/gameOver.ejs"> </a>
// <meta http-equiv="refresh" content="3;url="/gameOver.ejs" />
window.location = "/gameOver";
  }
  },1000);
  </script>
   <script>
    function checkAnswer(answer, correctAnswer){
      console.log(answer);
      console.log(correctAnswer);
      if(answer.localeCompare(correctAnswer) == 0){
        document.getElementById("correctorno").innerHTML = "Correct!";

      }else{

        document.getElementById("correctorno").innerHTML = "Incorrect";
      }

    }
  </script>

<div class="col"><%- include ('../partials/message') %></div>

  </div>
 

</main>

<%- include ('../partials/footer') %>